.uniform-bg, .uniform-bg:hover{
    background-color:#F16722 !important;
    color:#fff;
    margin-left:0 !important;
    margin-right:0 !important;
}

input.form-control, select.form-control{
    border-radius: unset;
    padding:10px 12px !important;
}
.btn-sam-blue{
    background-color: #00ADEE;
    color:#fff;
}
.btn-sam-red, .btn.btn-sam-red:hover{
    background-color: #E72C2E !important;
    color:#fff;
}
textarea.form-control{
    padding-left:15px;
    padding-right:15px;
    min-height: 150px;
}
.modal{
    background: rgba(0,0,0,0.3);
}
i{
    font-family: FontAwesome;
}
.hidden{
    display: none;
}
footer.footer{
    left:0 !important;
}
/*table*/
table thead{
    background: #5C186A;
    color: #fff;
    text-align: center;
}
#tableDepartment th:not(:last-child){
    border-right:1px solid #fff;
}
table tbody{
    background: #fff;
    text-align: center;
}
table tbody form{
    display: inline-block;
}
.btn.viewMore, .btn.viewMore:hover{
    background:#FCB823 !important;
    border:unset;
    color:#fff;
    text-align: center;
}
.rowDepartment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.rowDepartment button{
    margin:0 10px !important;
}
.rowDepartment  form{
    margin-bottom: 0 !important;
}
/*panel */
.main-panel > .content{
    margin-top:130px !important;
}
.logo-image-big{
    text-align: center;
}
.main-panel .navbar{
    min-height: 95px;
}
.main-panel .navbar .navbar-brand{
    color:#000 !important;
    font-weight: bold;
    text-transform: uppercase;
}

form#formDelete{
    margin-bottom: 0 !important;
}


/*profile*/
.circle-img{
    border: 4px solid #FCB823;
    width: fit-content;
    border-radius: 50%;
    margin: 0 auto 20px auto;
}
.circle-img img{
    border-radius: 50%;
    width: 150px;
    height: auto;
    object-fit: cover;
}

.btn-change-image, .btn-change-image:hover{
    background: #FCB823 !important;
    color:#fff;
    width: fit-content;
    margin: 0 auto;
    display: block;
    font-size: 12px;
}
#userProfile h3{
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 30px;
}

/*incidencias*/
.details-wrapper{
    padding: 30px 25px;
}
.comments-box .inner-comments-box{
    display: flex;
    width: 100%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    padding:20px;
    margin: 0 auto;
}
.comments-box .inner-comments-box .user-comment{

}
.comments-box .inner-comments-box .comments-image{
    width: 100px;
    margin-right: 15px;
}
.comments-box .inner-comments-box  .date, .meta-data{
    color:#ccc;
    font-style: italic;
}
.details-wrapper h2{
    color:#FCB823;
    font-weight: bold;
}
.meta-data{
    color:#000;
}
.comments-box .comments-image{
    display: flex;
    align-items: center;
}
.comments-box .mini-avatar{
    width: 80px;
    height: auto;

}
